@use "sass:math";

// HTML BASE
html {
  scroll-behavior: smooth;
}

// CONTAINER
.container {
  &.is-nav-fixed {
    margin-top: calc(#{$space-3} * 1.8);
  }
}

.analysis-topbar {
  position: fixed;
  top: 4rem;
  width: 100%;
  z-index: 99;
  background-color: var(--theme-background);
  transition: $transition-cubic-bezier;
}

// BORDERS
.border-success {
  border: 4px solid var(--theme-success) !important;
}

.border-warning {
  border: 4px solid var(--theme-warning) !important;
}

.border-danger {
  border: 4px solid var(--theme-danger) !important;
}

.border-info {
  border: 4px solid map-get($theme-colors, color-blue) !important;
}

// BACKGROUNDS
.bg-primary {
  background-color: var(--theme-primary) !important;
}

.bg-secondary {
  background-color: var(--theme-secondary) !important;
}

.bg-chat {
  background-color: var(--theme-primary-700) !important;
}

.bg-frosted {
  background-color: var(--frosted-glass-bg) !important;
  backdrop-filter: var(--frosted-glass-backdrop-filter) !important;
}


// SHADOWS (FLAT DESIGN)
.shadow-sm {
  box-shadow: $shadow-sm !important;
}

.shadow-md {
  box-shadow: $shadow-md !important;
}

.shadow-lg {
  box-shadow: $shadow-lg !important;
}

.shadow-xl {
  box-shadow: $shadow-xl !important;
}

// SIZES
hr {
  color: var(--theme-muted);
  padding: .5px 0;
}

.vhr-100 {
  height: calc(100vh - 65px);
}

// SCROLLBAR
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-surface-200) var(--theme-surface-outline);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--theme-surface-200);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-surface-outline);
  border-radius: 20px;
}

// SCROLLING HORIZONTAL WRAPPER
.scrolling-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  //position: fixed;
  z-index: 999;
  top: 70px;
  height: auto;
  width: 100%;
  transition: $transition-cubic-bezier;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
}

.scrolling-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  height: auto;
  width: 100%;
}

// CURSORS
.cursor-pointer {
  cursor: pointer;
}
