@use "../abstracts/mixins" as m;

@include m.media-query(768) {
  .card {
    &.card-visualizer {
      height: auto;
      max-height: calc(100vh - 180px);
    }

    &.card-outline {
      &.is-dashboard {
        margin-bottom: .5rem;
      }
    }
  }

  .analysis-container {
    .analysis-img-wrap {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  .sidebar {
    transform: translateX(-18rem);
    width: calc(18rem / 2);

    .sidebar-header {
      .sidebar-toggle {
        position: fixed;
        top: .7rem;
        left: 1rem;
        transform: translateX(18rem);
      }
    }

    & ~ main {
      .content {
        margin-left: 0;
      }
    }

    &:has(.btn-check:checked) {
      width: calc(18rem / 2);
      transform: translateX(0);

      .sidebar-toggle {
        position: unset;
        transform: unset;
      }

      & ~ main {
        .content {
          margin-left: 0;
        }
      }
    }
  }
}

@include m.media-query(600) {
  .card {
    &.card-visualizer {
      height: auto;
      max-height: calc(100vh - 180px);
    }
  }

  .analysis-container {
    .analysis-img-wrap {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
