:root {
  // Base colors
  --theme-background: var(--theme-surface-500);
  --theme-on-primary: #000000;
  --theme-on-primary-inverse: #ffffff;
  // RGBA colors
  @each $color, $value in $primary-colors {
    --#{$variable-prefix}#{$color}: #{hexToRGB($value)};
  }
  // Light surfaces colors
  @each $color, $value in $light-surfaces {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Light primaries colors
  @each $color, $value in $primaries {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Light secondaries colors
  @each $color, $value in $secondaries {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Light accents colors
  @each $color, $value in $accents {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Status colors
  @each $color, $value in $light-status-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Variant colors
  --theme-default: #f5f8fa;
  --theme-default-active: #dadce0;
  --theme-disabled: #e9ecef;
  --theme-item-disabled: #9aa0a6;
  --theme-item-range: #f8f8fa;
  --theme-table-hover: #00000003;
  // Image filters
  --theme-img-filter: none;
  --theme-img-filter-inverse: brightness(0) invert(1);
  --frosted-glass-bg: rgba(255, 255, 255, 0.50);
  --frosted-glass-backdrop-filter: blur(30px) saturate(100%) contrast(45%) brightness(130%);
  // Checks svg selectors
  --checkbox-selector: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="rgba(255,255,255,1)"/></svg>');
  --switch-selector: url('data:image/svg+xml;base64,PCEtLSBSZXBsYWNlIHRoZSBjb250ZW50cyBvZiB0aGlzIGVkaXRvciB3aXRoIHlvdXIgU1ZHIGNvZGUgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwgMCwgMCwgMSk7dHJhbnNmb3JtOiA7bXNGaWx0ZXI6OyI+PHBhdGggZD0iTTEyIDJDNi40ODYgMiAyIDYuNDg2IDIgMTJzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTcuNTE0IDIgMTIgMnoiPjwvcGF0aD48L3N2Zz4=');
  // Animations speed
  --animation-index: 0.5s;
}

.dark-mode {
  // Base colors
  --theme-background: var(--theme-surface-500);
  --theme-on-primary: #ffffff;
  --theme-on-primary-inverse: #000000;
  // Dark surfaces colors
  @each $color, $value in $dark-surfaces {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Dark primaries colors
  @each $color, $value in $dark-primaries {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Dark secondaries colors
  @each $color, $value in $dark-secondaries {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Dark accents colors
  @each $color, $value in $dark-accents {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Status colors
  @each $color, $value in $dark-status-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }
  // Variant colors
  --theme-default: #272727;
  --theme-default-active: #323232;
  --theme-disabled: #939393;
  --theme-item-disabled: #9aa0a6;
  --theme-item-range: #474748;
  --theme-table-hover: #ffffff0f;
  // Image filters
  --theme-img-filter: brightness(0) invert(1);
  --theme-img-filter-inverse: none;
  --frosted-glass-bg: rgba(0, 0, 0, 0.50);
  --frosted-glass-backdrop-filter: blur(20px) saturate(150%) contrast(100%) brightness(100%);
  // Checks svg selectors
  --checkbox-selector: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z" fill="rgba(0,0,0,1)"/></svg>');
  --switch-selector: url('data:image/svg+xml;base64,PCEtLSBSZXBsYWNlIHRoZSBjb250ZW50cyBvZiB0aGlzIGVkaXRvciB3aXRoIHlvdXIgU1ZHIGNvZGUgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMjU1LCAyNTUsIDI1NSwgMSk7dHJhbnNmb3JtOiA7bXNGaWx0ZXI6OyI+PHBhdGggZD0iTTEyIDJDNi40ODYgMiAyIDYuNDg2IDIgMTJzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTcuNTE0IDIgMTIgMnoiPjwvcGF0aD48L3N2Zz4=');
}
