.img-logo {
  filter: var(--theme-img-logo);
}

.img-index {
  width: 110px;
  height: 110px;
}

.img-face-search {
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
  object-fit: contain;
}

.img-face-search--result {
  width: 150px;
  height: 150px;
}

.img-table {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: top;

  &--camera {
    width: 100px;
    object-fit: contain;
  }
}

.img-preview {
  width: 100%;
  max-width: 100%;
  height: 250px;
  display: block;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  border: 3px dotted var(--theme-surface-outline);
  border-radius: $border-radius-12;
}

.img-user-data {
  border-radius: $border-radius-4;
  //width: 250px;
  max-width: 250px;
  height: calc(#{$space-3} * 4);
  min-height: calc(#{$space-3} * 4);
  max-height: calc(#{$space-3} * 4);
  object-fit: contain;
}

.analysis-container {
  display: flex;
  flex-direction: column;

  .analysis-img-wrap {
    display: grid;
    justify-content: start;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: auto;

    .analysis-img-container {
      background-color: var(--theme-surface);
      border-radius: $border-radius-4;

      .analysis-img {
        height: 180px;
        object-fit: cover;
        object-position: center;
        border-radius: $border-radius-4;
      }

      .analysis-img-text {
        //position: absolute;
        margin-top: -40px;
        //width: 100%;
        //padding: 0 10px;
        width: inherit;
        //background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
        display: flex;
        flex-direction: column;

        p {
          color: $white;
          font-size: 12px;
          font-weight: 700;
          text-shadow: 2px 2px 2px $dark;
          margin-bottom: 0;
          word-break: break-word;
          max-width: 100%;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.visualizer-container {
  display: flex;
  flex-direction: column;

  .visualizer-img-wrap {
    display: grid;
    justify-content: start;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;

    .visualizer-img-container {
      //margin: .2rem .3rem;
      max-width: 90px;
      max-height: 90px;
      transition: $transition-ease-in-out;

      // TESTING HOVER EFFECT
      .objective-img {
        min-height: unset;
        max-height: unset;
      }

      &:hover {
        max-width: 130px;
        max-height: 130px;
        width: 150px;
        height: auto;
        border: 2px solid var(--theme-warning);

        .objective-img {
          object-fit: contain;
          height: auto;
          max-height: 100%;
        }
      }
    }
  }
}

.visualizer-img-container {
  background-color: var(--theme-surface-outline);
  overflow: hidden;
  border-radius: $border-radius-4;
  width: 100px;
  height: 100px;

  &.analysis {
    height: auto;
  }

  .search-img-text {
    position: absolute;
    margin-top: -40px;
    padding: 0 10px;
    width: inherit;

    p {
      color: $white;
      font-weight: bold;
      text-shadow: 2px 2px 2px $dark;
      margin-bottom: 0;
      word-break: initial;
      max-width: fit-content;
      text-align: center;
    }
  }
}

.objective-img {
  border-radius: $border-radius-0;
  min-height: 150px;
  max-height: 150px;
  height: 100%;
  //max-width: 300px;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: left;
}

.analysis-modal-img {
  //max-height: 250px;
  min-height: 250px;
  min-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: $border-radius-6;

  &.img-secondary {
    min-height: auto;
    //min-width: 325px;
    width: 325px;
    object-fit: contain;
  }
}

.analysis-modal-cards {
  display: grid;
  justify-content: start;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: auto;

  .card {
    p {

    }

    &:nth-child(5) {
      grid-area: 2 / 2 / 3 / 4;
    }

    &:last-child {
      grid-area: 3 / 1 / 4 / 4;
      margin-bottom: .8rem;
    }
  }
}
