@use "sass:math";

.navbar {
  background-color: var(--theme-surface-500) !important;
  font-weight: 500;
  font-size: 14px;
  transition: $transition-cubic-bezier;
  box-shadow: $shadow-0dp;
  z-index: 998;

  a {
    color: var(--theme-on-primary);

    &:hover {
      // background-color: #bebebe1c;
      border-radius: $border-radius-25;
    }

    &:focus,
    &:active {
      color: var(--theme-primary) !important;
    }
  }

  .navbar-brand {
    color: var(--theme-on-primary);
    font-family: map-get($c4-overline, font-family);
    font-size: map-get($c4-overline, font-size);
    font-weight: $fw-800;
    text-transform: uppercase;

    img {
      //filter: var(--theme-img-logo-inverse);
      width: 85px;
      height: auto;
      max-width: 100px;
      max-height: 85px;
    }

    &:hover {
      color: var(--theme-primary-500);
    }

    &:focus,
    &:active {
      color: var(--theme-primary-600);
    }
  }

  .navbar-nav {
    .nav-item {
      &:is(.navigation-menu) {
        position: relative;

        &:hover {
          .nav-menu {
            //opacity: 1;
            //visibility: visible;
            //transform: translateY(0);
          }
        }
      }

      .nav-link {
        color: var(--theme-on-primary);
        font-family: $font-jakarta-sans;
        font-size: 14px;
        text-transform: capitalize;
        border-radius: $border-radius-4;
        border-bottom: 3px solid transparent;

        &.router-link-active, &.nuxt-link-exact-active {
          font-weight: $fw-700;
          color: var(--theme-primary-700);
          background: rgba(var(--theme-secondary-rgba), 20%);
          position: relative;

          &:after {
            content: '';
            width: 100%;
            height: 3px;
            background: var(--theme-primary-700);
            border-radius: $border-radius-4;
            position: absolute;
            bottom: -.5rem;
            left: 0;
          }
        }

        &:hover {
          color: var(--theme-muted);
          background: rgba(var(--theme-primary-rgba), 20%);
        }
      }
    }
  }

  .navbar-logo {
    filter: var(--theme-img-filter);
  }

  &.nav-scrolling {
    border-bottom: 1px solid var(--theme-surface-outline);
  }
}

.nav-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1rem);
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: var(--theme-surface-100);
  color: var(--theme-on-primary);
  min-width: calc(#{$space-3} + 12rem);
  width: fit-content;
  //max-width: 10rem;
  border-radius: $border-radius-12;
  box-shadow: $shadow-xl;
  transition: $transition-cubic-bezier;

  &.nav-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-menu-content {
    padding: $space-1;
    display: flex;
    flex-direction: column;

    .nav-menu-header {
      display: flex;
      margin-bottom: $space-1;

      .img-fluid {
        max-width: 60px;
        border-radius: $border-radius-50;
        margin-right: .5rem;
      }

      p {
        &:first-child {
          font-weight: $fw-800;
          font-family: $font-jakarta-sans;
          font-size: 16px;
          margin-bottom: 0;
        }

        &:last-child {
          @extend .subtitle-2;
          color: var(--theme-muted);
          margin-bottom: 0;
        }
      }
    }

    .nav-menu-body {
      display: grid;
      justify-content: start;
      grid-template-rows: auto;
      grid-auto-columns: 1fr;
      gap: .8rem;
      grid-auto-flow: row;
      grid-template-columns: repeat(3, 1fr);
      //overflow-x: auto;

      &:has(.menu-account) {
        grid-template-columns: repeat(1, 1fr);

        .nav-menu-item {
          min-width: 100%;
          max-width: 100%;
        }
      }

      .nav-menu-item {
        padding: .5rem;
        border: 1px solid var(--theme-surface-outline);
        border-radius: $border-radius-6;
        min-width: 7.5rem;
        max-width: 7.5rem;
        cursor: pointer;
        text-align: center;
        transition: $transition-cubic-bezier;

        p {
          font-weight: $fw-500;
          margin-bottom: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        i, img {
          margin-bottom: .3rem;

          &:is(.img-fluid) {
            min-width: 50px;
            max-width: 50px;
            border-radius: $border-radius-8;
          }
        }

        &:hover {
          border: 1px solid var(--theme-secondary);
          background-color: var(--theme-surface-300);

          p {
            font-weight: $fw-800;
          }
        }
      }
    }

    .nav-menu-footer {
      display: grid;
      margin-top: $space-1;
      text-align: center;

      .img-fluid {
        max-width: 70px;
      }

      .btn {
        margin: 0;
      }
    }
  }
}
